:root {
    --inkBlack: #1e1e1e;
    --coralPink: #f45d80;
    --sunsetOrange: #ffa63a;
    --soBlue: #74e1fc;
    --warmWhite: #fef8ea; 
    --warmerWhite: #f9efd7;
}


@font-face {
    font-family: 'Great Warrior' ;
    src: url(assets/fonts/great_warrior/GreatWarrior.ttf);
}

@font-face {
    font-family: 'Lostar' ;
    src: url(assets/fonts/lostar/Lostar.ttf);
}

@font-face {
    font-family: 'Tango';
    src: url(assets/fonts/tango_2/Tango.ttf);
}

@font-face {
    font-family: 'MartinDemo' ;
    src: url(assets/fonts/martin/MartinDemo.ttf);
}

@font-face {
    font-family: 'Charley' ;
    src: url(assets/fonts/CHARLEY.otf);
}

@font-face {
    font-family: 'Antic Didones';
    src: url(assets/fonts/Antic_Didone/AnticDidone-Regular.ttf);
}

* {
    font-family: 'Antic Didones';
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/images/file.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    height: 100vh; 
    color: var(--inkBlack);
}


.header {
    font-family: 'Great Warrior';
    font-size: clamp(40px, calc(60px + 60 * ((100vw - 320px) / 880)), 90px);
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    margin: 2rem;
}

.advice-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advice {
    font-size: 1.6rem;
    text-align: center;
    height: 6rem; 
}

.advice p {
    padding: 1rem;
}

a {
    color: var(--inkBlack);
}


/* Adivice button styling */

.advice-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 160px;
    background: transparent;
    border: 1px solid var(--inkBlack);
    font-size: 20px;
    color: var(--inkBlack);
    letter-spacing: 1.5px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
    border-radius: 25px;
    margin: 2rem;
    cursor: pointer;
}

.advice-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--inkBlack);
    transition: all 200ms ease-in-out;
    opacity: 0;
    border-radius: 36px;
  }

  .advice-button:hover::before {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    opacity: 1;
  }

  .advice-button:active {
    transform: scale(0.95);
  }

  .advice-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

   /* Card styling */

 .mainContainer {
    position: relative;
    width: 389px;
    height: 278px;
    
 }

 .theCard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease; 
 }

 
 .theCardFront, .theCardBack {
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: var(--warmWhite);
     border: 1px solid var(--inkBlack);
     border-radius: 20px;
     color: var(--inkBlack);
     backface-visibility: hidden;
    }

    .theCardFront {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .theCardFront img {
        width: 85px; 
        height: 85px;
    }

    .sunDark {
        display: none;
    }
    
 .theCardBack {
        transform: rotateY(180deg);
    }

 .theCardBack, .advice {
    display: flex;
    align-items: center;
    justify-content: center;
 }
    
 .theCard.isFlipped {
    transform: rotateY(180deg);
    }


    @media (prefers-color-scheme: dark) {
        body {
            background-image: url(/assets/images/Gradient-3.jpg);
        }

        .theCardFront, .theCardBack {
            background-color: var(--inkBlack);
        }

        .sunDark {
            display: block;
        }

        .sunLight{

            display: none;
        }

        .advice p {
            color: var(--warmWhite);
        }

        .advice-button {
            border: 1.5px solid var(--inkBlack);
            font-weight: 600;
        }


    } 